RECO_DATASET_PATH={{ naviroom_app_dir }}/Data_processing/output/dku_dataset.json
RECO_SEMANTIC_MODE={{ naviroom_reco_semantic_mode }}
RECO_REQUIREMENTS_MODE={{ naviroom_reco_requirements_mode }}
LLM_API_KEY={{ naviroom_llm_api_key }}
